<meta name="description" content="{description or renderData.description} />
<link rel="canonical" href="https://flowist.app"/>
<meta name="robots" content="index, follow" />

<meta property="og:title" content="Flowist. — Focus Mode for Todoist"/>
<meta property="og:url" content="https://flowist.app"/>
<meta property="og:description" content="Flowist is a focus mode companion for Todoist. Free and open source."/>
<meta property="og:image" content="https://raw.githubusercontent.com//selfire1/todoist-focus-mode/main/imgs/banner-mobile.png"/>

<meta name="twitter:title" content="Flowist. — Focus Mode for Todoist"/>
<meta name="twitter:description" content="Flowist is a focus mode companion for Todoist. Free and open source."/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="https://raw.githubusercontent.com//selfire1/todoist-focus-mode/main/imgs/banner-mobile.png"/>
<meta name="twitter:site" content="@selfire1"/>