/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ---- END RESET ---- */
/* Variables */
:root {
    --max-width: 65rem;

    --clr-content-tertiary: #999999;
    --clr-content-secondary: #707070;
    --clr-content-primary: #1F1F1F;
    --clr-accent: #db4c3f;
    --clr-inverse-primary: #FFFFFF;
    --divider-primary: #C4C7C8;

    --clr-surface: #FFF9F3;
    --clr-bg-default: #fff;
    --clr-bg-aside: #f7f7f7;
    --clr-bg-highlight: #f2f2f2;
    --clr-bg-selected: #e6e6e6;

    --spacing-xsmall: 4px;
    --spacing-small: 8px;
    --spacing-medium: 12px;
    --spacing-large: 16px;
    --spacing-xlarge: 24px;
    --spacing-xxlarge: 32px;

    --border-radius-small: 5px;
    --border-radius-large: 10px;

    --fs-300: .875rem;
    --fs-400: 1rem;
    --fs-600: clamp(4rem, 6vw, 6rem);

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
}
html {
    font-family: 'Inter', sans-serif, system-ui, sans;
    font-weight: var(--fw-400);
    color: var(--clr-content-primary);
}
button {
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius-small);
}

strong {
    font-weight: var(--fw-600);
}

/* Utility classes */
.flex-c__row-center-xsmall {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xsmall);
}

.container {
    display: grid;
    --padding: var(--spacing-xlarge);
    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}

/* Header */
.logout-header {
    display: flex;
    justify-content: flex-end;
    font-size: var(--fs-300);
    color: var(--clr-content-tertiary);
}


/* Tasks */
/* Task info */
.task-context {
    height: var(--spacing-medium);
    display: flex;
    gap: var(--spacing-medium);
    color: var(--clr-content-secondary);
    font-size: var(--fs-300);
}

.task-context svg {
    --size: 16px;
    width: var(--size);
    height: var(--size);
}

/* Project info */
/* .project-container { }

.task-project { }

.btn-open-td { } */

.task-container {
    margin-bottom: var(--spacing-xlarge);
    padding: var(--spacing-large) 0;
    padding-top: var(--spacing-xxlarge);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    min-height: calc(100vh - 3.2rem);
}
/* For large screens */
@media screen and (min-width: 48rem) {
    .task-container {
        gap: var(--spacing-xlarge);
        min-height: calc(100vh - var(--spacing-large));
    margin-bottom: var(--spacing-large);
    }
}
.current-task {
    font-size: var(--fs-600);
    font-weight: var(--fw-500);
    line-height: 1.2;
    display: flex;
    align-items: flex-start;
    overflow-wrap: anywhere;
}
.current-task a {
    text-underline-position: under;
    text-decoration-thickness: from-font;
    text-decoration-color: var(--clr-content-secondary);
    color: var(--clr-content-primary);
}
.current-task a:hover {
    text-decoration-thickness: auto;
    text-decoration-color: var(--clr-content-primary);
}

/* Task buttons */
.task-buttons {
    display: flex;
    gap: var(--spacing-large);
    margin-top: auto;
    bottom: var(--spacing-large);
}
:is(.btn-prev, .btn-done, .btn-next) {
    border-radius: var(--border-radius-small);
    padding: var(--spacing-xsmall) --spacing-small;
    display: flex;
    align-items: center;
}
:is(.btn-prev,.btn-next) {
    flex-grow: .5;
    flex-direction: column-reverse;
    background-color: var(--clr-bg-aside);
    color: var(--clr-content-secondary);
    font-size: .875rem;
}

:is(.btn-prev, .btn-next):disabled {
    cursor: default;
    background-color: var(--clr-bg-default);
    color: var(--clr-content-tertiary);
    opacity: .8;
    
}
.btn-prev {
    flex-direction: column;
}

:is(.btn-prev, .btn-next) svg {
    --size: 2.5rem;
    width: var(--size);
    height: var(--size);
}
.btn-done {
    background-color: var(--clr-accent);
    color: var(--clr-inverse-primary);
    flex-grow: 2;
    justify-content: center;
    flex-direction: row;
    gap: var(--spacing-xsmall);
}
.btn-done svg {
--size: 1.5rem;
    width: var(--size);
    height: var(--size);
}
.btn-done:hover {
    background-color: var(--clr-accent);
    color: var(--clr-inverse-primary);
    opacity: .8;
}

.bottom {
    background-color: var(--clr-bg-aside);
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    margin: 0 calc(var(--spacing-large) * -1);
    padding: var(--spacing-large);
    margin-top: var(--spacing-large);
    font-size: var(--fs-300);
    color: var(--clr-content-secondary);
    padding-top: var(--spacing-xlarge);
}

.bottom-container {
    --max-width-bottom: 42rem;
    --padding: var(--spacing-large);
    width: min(var(--max-width-bottom), 100% - (var(--padding) * 2));
    margin-inline: auto;
}

.bottom svg {
    --size: var(--fs-300);
    width: var(--size);
    height: var(--size);
    margin-bottom: -1px;
}
.bottom-header {
    text-align: center;
    font-weight: 500;
    font-size: var(--fs-400);
    padding-bottom: var(--spacing-medium);
}
.filter-form {
    display: flex;
    gap: var(--spacing-small);
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: 100%
}
.filter-form label {
    flex-basis: 100%;
}
.focusmode-actions button {
    background-color: var(--clr-bg-default);
    min-width: 50px;
    border: 1px solid var(--divider-primary);
}
button.btn-logout {
    background-color: var(--clr-surface);
}
.focusmode-actions a {
    font-size: var(--fs-300);
    color: var(--clr-content-tertiary)
}
.focusmode-actions a:hover {
    color: var(--clr-content-secondary);
}

.input-filter {
    color: var(--clr-content-secondary);
    background-color: var(--clr-bg-default);
    border: 1px solid var(--divider-primary);
    border-radius: var(--border-radius-large);
    flex-grow: 1;
}

.focusmode-actions {
    font-size: var(--fs-400);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-xlarge);
    padding-bottom: var(--spacing-xlarge);
    border-bottom: 1px solid var(--divider-primary);
    width: 100%;
    justify-content: space-between;
}

footer {
    padding-top: var(--spacing-xlarge);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    text-align: center;
}
footer a {
    color: var(--clr-content-secondary);
}
footer a:hover {
    color: var(--clr-content-tertiary);
}
 footer svg {
    --size: var(--fs-300);
    width: var(--size);
    height: var(--size);
    margin-bottom: -1px;
}
.heart svg {
    color: var(--clr-accent);
}
.j-link {
    text-decoration-style: dotted;
}
/* Navigation */
.navigation {
display: flex;
justify-content: center;
gap: var(--spacing-medium);
margin: 0;
padding-bottom: var(--spacing-medium);
}
/* .btn-prev,
.btn-done,
.btn-next {
    background-color: var(--clr-bg-highlight);
} */

/* Notification */
.notify {
    display: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: 0 0 3px black;
    padding: 3px 5px;
    margin: 5px;
}

/* Hover class (toggled also on keydown from JS */
@media (hover: hover) {
button:hover:not(.btn-done):not(:disabled),
.hover {
    background-color: var(--clr-bg-highlight);
    color: var(--clr-content-primary);
    }
}

button:active:not(:disabled),
.hover {
    transform: scale(.97);
    transition: transform .2s cubic-bezier(.02, 1.505, .745, 1.235)
}
/* Landing page */
.lp-img {
    object-fit: cover;
    max-height: 100%;
}
:is(.primary-container, .secondary-container) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}