/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ---- END RESET ---- */
/* Variables */
:root {
    --clr-content-tertiary: #999999;
    --clr-content-secondary: #707070;
    --clr-content-primary: #1F1F1F;
    --clr-accent: #E44232;
    --clr-inverse-primary: #FFFFFF;
    --divider-primary: #C4C7C8;

    --clr-surface: #FFF9F3;
    --clr-bg-default: #fff;
    --clr-bg-aside: #fafafa;
    --clr-bg-highlight: #f2f2f2;
    --clr-bg-selected: #e6e6e6;

    --spacing-xsmall: 4px;
    --spacing-small: 8px;
    --spacing-medium: 12px;
    --spacing-large: 16px;
    --spacing-xlarge: 24px;
    --spacing-xxlarge: 32px;

    --border-radius-small: 5px;
    --border-radius-large: 10px;

    --fs-300: .875rem;
    --fs-400: 1rem;
    --fs-600: clamp(2rem, 6vw, 5rem);
}
html {
    font-family: 'Figtree', sans-serif, system-ui, sans;
    color-scheme: light dark;
}
button {
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius-small);
}

button:hover {
    background-color: var(--clr-bg-highlight);
}

/* Utility classes */
.flex-c__row-center-xsmall {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xsmall);
}

.container {
    --max-width: 1110px;
    --padding: 1rem;
    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}
/* Navigation */
.navigation {
display: flex;
justify-content: flex-end;
gap: var(--spacing-medium);
margin: 0;
padding: 0;
padding-top: 10px;
}
.li-home {
    margin-right: auto;
}
/* Tasks */
/* Task info */
.task-context {
    display: flex;
    gap: var(--spacing-medium);
    color: var(--clr-content-secondary);
    font-size: var(--fs-300);
}

.task-context svg {
    --size: 16px;
    width: var(--size);
    height: var(--size);
}

/* Project info */
.project-container { }

.task-project { }

.btn-open-td { }

.task-container {
    padding: 10px 0;
    border-top: var(--divider-primary) 1px solid;
    border-bottom: var(--divider-primary) 1px solid;
}
.current-task {
    padding: 6px 0;
    font-size: var(--fs-600);
}

/* Notification */
.notify {
    display: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: 0 0 3px black;
    padding: 3px 5px;
    margin: 5px;
}