---
layout: base.njk
permalink:
    serverless: /app/
---
{# Test: {{ eleventy.serverless.path.name }} #}
{# Testing parameters: {{ eleventy.serverless.query.key}} #}
<h1>Next task</h1>
<p>Displayed with Eleventy Serverless</p>
{% if eleventy.serverless.query.key %}
    {% set key = eleventy.serverless.query.key %}
    <script type="text/javascript" src="{{ '/js/main.js' | url }}" key="{{ key }}" defer></script>
{% else %}
    <p>No key entered</p>
{% endif %}