---
layout: base.njk
title: "Todoist Focus Mode"
---
{% if user %}
    <h2>You are logged in</h2>
    <code>{{ token }}</code>
    <a href="{{ secure | url }}">Enter Focus mode</a>
{% else %}

{% endif %}
<div class="container home-container">
    <header>
        <nav aria-label="main">
            <ul role="list" class="hp-nav">
                <li>
                    <div class="nav-logo">
                        <a href="/">
                    flowist<span class="accent-dot">.</span>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="primary-container">
        <div class="primary-container-text">
            <h1>{{ landingpage.primary.heading }}</h1>
            <p class="primary-subtitle">{{ landingpage.primary.subtitle}}</p>
            <form action="/.netlify/functions/auth-before">
                <input type="hidden" name="securePath" value="/secure/">
                <button type="submit" name="provider" value="todoist">Login with Todoist</button>
            </form>
        </div>

        <div class="lp-img primary-img">
            {% image "https://github.com/selfire1/todoist-focus-mode/blob/main/imgs/lp-primary.png?raw=true", "a phone running flowist in a serene environment", "(min-width: 30em) 50vw, 100vw" %}</div>
    </div>
    <div class="quote-container">
        <p class="quote">{{ landingpage.quote.text}}</p>
        <p class="quote-author">{{ landingpage.quote.author}}</p>
    </div>
    <div class="secondary-container sec-container__1">
        <div class="secondary-container-text sec-container-text__1">
            <h2>{{landingpage.secondary1.heading}}</h2>
            <p class="secondary-subtitle sec-subtitle__1">{{landingpage.secondary1.heading}}</p>
        </div>
        <img src="{{ landingpage.secondary1.img }}" class="lp-img secondary-image__1">
    </div>

    <div class="secondary-container sec-container__2">
        <div class="secondary-container-text sec-container-text__2">
            <h2>{{landingpage.secondary2.heading}}</h2>
            <p class="secondary-subtitle sec-subtitle__2">{{landingpage.secondary2.heading}}</p>
        </div>
        <img src="{{ landingpage.secondary3.img }}" class="lp-img secondary-image__3">
    </div>
    <div class="secondary-container sec-container__3">
        <div class="secondary-container-text sec-container-text__3">
            <h2>{{landingpage.secondary3.heading}}</h2>
            <p class="secondary-subtitle sec-subtitle__3">{{landingpage.secondary3.heading}}</p>
        </div>
        <img src="{{ landingpage.secondary3.img }}" class="lp-img secondary-image__3">
    </div>
</div>