---
layout: base.njk
title: "Hello World"
---
<h2>Todoist output</h2>
<code>{{ td }}</code>
<form action="#" class="form" onsubmit="showProjects()">
    <div class="form-item">
        <label for="api-input">Enter Todoist API key:</label>
        <input type="text" minlength="40" maxlength="40" class="form-input" id="api-input" pattern="[a-zA-Z0-9]+">
    </div>
    <button type="submit" class="form-button">Show task</button>
</form>
<script>
    async function showProjects() {
        const form = document.getElementById('api-input');
        const apiKey = form.value;
        let url = "https://api.todoist.com/rest/v2/tasks";
        let response = await fetch(url, {
            headers: {
                Authorization: `Bearer ${apiKey}`
            }
        });

        if (response.ok) { // if HTTP-status is 200-299
            // get the response body (the method explained below)
            let taskList = await response.json();
            console.log(taskList)
            let firstTask = taskList[0].content
            const body = document.body;
            const div = document.createElement('div')
            body.append(div)
            div.innerText = firstTask
        } else {
            alert("HTTP-Error: " + response.status);
        }
    }
</script>