---
layout: base.njk
title: "Todoist Focus Mode"
---
<h2>Get started</h2>
<code>{{ td }}</code>
<form action="#" class="form" id="api-form">
    <div class="form-item">
        <label for="api-input">Enter Todoist API key:</label>
        <input type="text" required="true" minlength="40" maxlength="40" class="form-input" id="api-input" pattern="[a-zA-Z0-9]+">
    </div>
    <button type="submit" class="form-button">Submit</button>
</form>