---
layout: base.njk
permalink:
  dynamic: "/secure/"
secure:
  unauthenticatedRedirect: "/"
---
<a href="/">Home</a>
<h2>Projects</h2>
<pre>{{ projects | dump(2) }}</pre>
<h2>Tasks</h2>
<pre>{{ tasks | dump(2) }}</pre>
<input id="token" type="hidden" name="securePath" value="{{token}}" data-params="{{ eleventy.serverless.query | dump }}" data-tasks="{{ tasks | dump }}">
<div class="current-task" id="task-container"></div>
<button id="btn-prev" disabled>Previous</button>
<button id="btn-done">Done</button>
<button id="btn-next">Next</button>
{# {% if user %}
    {% set id = eleventy.serverless.query.id | int %}
    <p>Your next task</p>
    {{ tasks[id].content | markdownify | safe }}
    <a href="/secure/?id={{id - 1}}">Previous</a>
    <a href="/secure/?id={{id + 1}}">Next</a>

    <!-- Show Logout form -->
    <hr>
    {% include "logout.njk" %}
{% else %}
    <!-- Show Login form -->
    <a href="/">Login</a>
{% endif %} #}