<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<meta http-equiv="Content-Security-Policy" content="default-src 'self' localhost:* ws://localhost:* https://;">
		<link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
		<script type="text/javascript" src="{{ '/js/main.js' | url }}" defer></script>
	</head>
	<body>
		<header>
			<h1>{{ title }}</h1>
		</header>
		<main>
			{{ content | safe }}
		</main>
	</body>
</html>